<!DOCTYPE html>
<html lang="en" ng-app="binarisEV3DifferentialPilot">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="src/services/EV3DifferentialPilotAdapterService.js"></script>
    <script src="src/services/EV3SoundAdapterService.js"></script>
    <script src="src/controller/EV3RemoteController.js"></script>
    <script src="src/services/BaseBallBewegungsArtenService.js"></script>
    <script src="src/services/BaseBallTrainingsUebungService.js"></script>
    <script src="src/controller/MainController.js"></script>
    <script src="src/App.js"></script>
</head>

<body>

<div class="container" style="max-width: 500px;">

    <div>
        <h1>EV3 Remote</h1>

        <p>
            Benutzeroberfläche zum Steuern des EV3 LEGO Mindstorms Roboters.<br/>
        </p>
    </div>


    <div>
        <p>
            <button style="width:100%;" type="button" class="btn btn-default btn-lg" aria-label="Left Align">tippeln
            </button>
        </p>
        <p>
            <button style="width:100%;" type="button" class="btn btn-success btn-lg" aria-label="Left Align">start
            </button>
        </p>

        <div class="panel panel-default">

            <div class="panel-body text-center">
                <p>Gebe beliebig viele Aktionen ein, die der Roboter sequenziell ausführen soll: </p>

                <div>
                    <img src="ev3_robot.png" width="150px;" height="auto">
                </div>

                <div class="text-center" ng-controller="EV3RemoteController as ev3RemoteController">
                    <button ng-click="ev3RemoteController.rotate(-45)" type="button" class="btn btn-default"
                            id="rotateLeftButton" aria-label="Left Align">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                    <button ng-click="ev3RemoteController.run(10)" type="button" class="btn btn-default"
                            aria-label="Left Align">
                        laufen
                    </button>
                    <button ng-click="ev3RemoteController.rotate(45)" type="button" class="btn btn-default"
                            aria-label="Left Align">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                    <div style="padding-top: 5px">
                        <button ng-click="ev3RemoteController.buzz()" type="button" class="btn btn-default"
                                aria-label="Left Align">
                            buzz
                        </button>
                        <button ng-click="ev3RemoteController.beep()" type="button" class="btn btn-default"
                                aria-label="Left Align">
                            beep
                        </button>
                    </div>

                    <!-- eigene Methoden -->
                    <div ng-controller="MainController as mainController">
                        <p>
                            <button ng-click="mainController.a()" type="button" class="btn btn-danger"
                                    aria-label="Left Align">
                                A
                            </button>
                            <button ng-click="mainController.b()" type="button" class="btn btn-danger"
                                    aria-label="Left Align">
                                B
                            </button>
                            <button ng-click="mainController.c()" type="button" class="btn btn-danger"
                                    aria-label="Left Align">
                                C
                            </button>
                            <button ng-click="mainController.d()" type="button" class="btn btn-danger"
                                    aria-label="Left Align">
                                D
                            </button>
                            <button ng-click="mainController.e()" type="button" class="btn btn-danger"
                                    aria-label="Left Align">
                                E
                            </button>
                        </p>
                    </div>

                </div>
            </div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Aktion</th>
                </tr>
                <tr ng-repeat="i in [1,2,3,4,5,6,7,8] track by $index">
                    <td>{{$index+1}}</td>
                    <td>laufen</td>
                </tr>

            </table>
        </div>
    </div>


</div>

</body>

</html>