<!DOCTYPE html>
<html lang="en" ng-app="binarisEV3DifferentialPilot">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="app.conf.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="src/angular_services/EV3DifferentialPilotAdapterService.js"></script>
    <script src="src/angular_services/EV3SoundAdapterService.js"></script>
    <script src="src/angular_services/EV3ColorAdapterService.js"></script>
    <script src="src/angular_services/BaseBallBewegungsartenService.js"></script>
    <script src="src/angular_services/BaseBallTrainingsUebungService.js"></script>
    <script src="src/angular_controllers/EV3RemoteController.js"></script>
    <script src="src/angular_controllers/MainController.js"></script>
    <script src="src/App.js"></script>
</head>

<body>

<div class="container" style="max-width: 500px;">

    <div>
        <h1>EV3 Remote</h1>


        <p>
            Benutzeroberfläche zum Steuern des EV3 LEGO Mindstorms Roboters.<br/>
        </p>
    </div>


    <div>

        <div class="panel panel-default">

            <div class="panel-body text-center">
                <p>Steuere den Roboter direkt oder führe eigene Aktionen aus. Eigene Aktionen müssen im <strong>MainController</strong>
                    implementiert werden. </p>

                <div>
                    <img src="binaris_education.png">
                    <img src="ev3_robot.png" width="150px;" height="auto">

                </div>

                <div class="text-center" ng-controller="EV3RemoteController as ev3RemoteController">
                    <button ng-click="ev3RemoteController.getColor()" type="button" class="btn btn-default"
                            id="getColorButton" aria-label="Left Align">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </button>
                    <div style="padding-top: 5px">
                        <button ng-click="ev3RemoteController.rotate(-45)" type="button" class="btn btn-default"
                                id="rotateLeftButton" aria-label="Left Align">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button>
                        <button ng-click="ev3RemoteController.run(10)" type="button" class="btn btn-default"
                                aria-label="Left Align">
                            laufen
                        </button>
                        <button ng-click="ev3RemoteController.rotate(45)" type="button" class="btn btn-default"
                                aria-label="Left Align">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div style="padding-top: 5px">
                        <button ng-click="ev3RemoteController.buzz()" type="button" class="btn btn-default"
                                aria-label="Left Align">
                            buzz
                        </button>
                        <button ng-click="ev3RemoteController.beep()" type="button" class="btn btn-default"
                                aria-label="Left Align">
                            beep
                        </button>
                    </div>


                </div>
            </div>

            <!-- eigene Methoden -->
            <div ng-controller="MainController as mainController">
                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>Eigene Aktionen:</th>
                    </tr>
                    <tr>
                        <td>
                            <button ng-click="mainController.a()" style="width:100%;"
                                    type="button" class="btn btn-danger"
                                    aria-label="Left Align">
                                {{mainController.SLOT_A_ACTION_NAME}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button ng-click="mainController.b()" style="width:100%;"
                                    type="button" class="btn btn-danger"
                                    aria-label="Left Align">
                                {{mainController.SLOT_B_ACTION_NAME}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button ng-click="mainController.c()" style="width:100%;"
                                    type="button" class="btn btn-danger"
                                    aria-label="Left Align">
                                {{mainController.SLOT_C_ACTION_NAME}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button ng-click="mainController.d()" style="width:100%;"
                                    type="button" class="btn btn-danger"
                                    aria-label="Left Align">
                                {{mainController.SLOT_D_ACTION_NAME}}
                            </button>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>


</div>

</body>

</html>